.footer-container {

  footer {
    background-color: #222222 !important;
    color: #ccc !important;
    padding-top     : 2rem;
    padding-bottom  : 2rem;
  }
  
  // ================== SOCICAL ====================
  .social {
    border-top: 1px solid #ccc;
    text-align: center;
    margin-top: 40px;
    padding-top: 15px;

    .footer__content-heading {
        // margin-left: 15px;
        font-size: 14px;
        font-weight: bold;
    }

    .payment-methods {
        display: flex;
        flex-direction: row;
        justify-content: center;

    }

    .business-partner {
        display: flex;
        flex-direction: row;
        justify-content: center;


        img {
            width: 130px;
            margin-left: 15px;
        }
    }

    .social-network {
        display: flex;
        flex-direction: row;
        justify-content: center;

        a {
            text-decoration: none;
        }

        .social-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            color: #fff;
            background: rgb(0 0 0 / 70%);
            margin: 0 5px;
            border-radius: 100%;
            margin-top: 10px;
        }
    }

}


// =================License ===============

.license {
    margin-top: 40px;
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 12px;

    p {
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 13px;
        color: #716F81;
        font-weight: 400;
        text-align: center;
        margin-bottom: 8px;
    }

}



}