.study-content {

    .container {
        .no-course {
            font-size  : 40px;
            font-weight: bold;
        }
    }

    .title {
        font-size  : 28px;
        font-weight: bold;
        font-weight: 900;
        margin     : 18px 0;
    }

    // ================= HEADER ================
    header {
        margin-bottom: 80px;

        p {
            color    : #292929;
            margin   : 6px 0;
            font-size: 18px;
        }
    }

    // ======================= Direction  ==================
    .direction {
        display        : flex;
        justify-content: space-between;
        margin         : 16px 0;

        .section {
            display : flex;
            position: relative;
        }

        span.icon {
            margin-right: 10px;
            color       : blue;
            font-size   : 24px;
        }

        .content-step {
            font-size  : 16px;
            line-height: 32px;
        }

        .line::after {
            inset-inline-start: 100%;
            display           : block;
            position          : absolute;
            height            : 1px;
            background        : rgba(5, 5, 5, 0.06);
            content           : "";
            width             : 285px;
            background-color  : #1677ff;
            transform         : translate(16px, -15px);
        }

    }


    // ================== Registered-Course ===============
    .registered-course {


        .card {
            // width: 330px;
            width      : 345px;
            margin     : 8px;
            padding    : 0 10px;
            box-shadow : 0 2px 10px 0 rgba(0, 0, 0, 0.1);
            padding-top: 10px;
        }

        .card-decorate {
            width : 320px;
            height: 180px;
        }

        .card-text {
            display: none;
        }

        .btn.btn-success {
            color     : white;
            height    : 35px;
            align-self: center;
        }



        .course-container {}
    }
}