.study-content {
    margin: 50px 0 ;

    .container {
        max-width: 1200px;
        margin: auto;

        .list-group {
            border-radius: inherit;
        }

        .list-title {
            background-color: #b1154a !important;
            border-color: #b1154a !important;
            text-align: center;
            font-size: 16px;
            line-height: 1.4;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

        a.list-group-item.disabled.list-group-item-action {
            background: #e7e7e7;

        }

        .list-group-item-action {
            background: #fafafa;
        }

        .list-group-item-action.disable {}
    }


}