.user-container {
    margin: 1rem 3rem;

    .welcome {
        margin-top   : 30px;
        margin-bottom: 60px;
        font-size    : 60px;
        color        : red;
        font-weight  : bold;
        text-align   : center;
    }

    .beginner-container {
        .courses {
            display       : flex;
            flex-direction: row;
        }
    }

    .toeic-container {
        .courses {
            display       : flex;
            flex-direction: row;
        }
    }

    .ielts-container {
        .courses {
            display       : flex;
            flex-direction: row;
        }
    }


}