@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Calligraffitti&display=swap');
.navbar.navbar-expand-lg.navbar-dark.bg-dark {
    padding              : 3px;
    background-color     : #222222 !important;
    position: fixed;
    width: 100%;
    z-index: 9999;
    .navbar-brand{
        pointer-events: none;
        font-family: 'Calligraffitti', cursive;
        font-weight: 700;
        font-size: 20px;
        text-shadow: -15px 5px 20px #ced0d3;
        letter-spacing: 0.02em;
        text-align: center;
        color: #F9f1cc;
        transform: translate(-20%,0)
    }
    @media (min-width: 1200px){
        .container, .container-lg, .container-md, .container-sm, .container-xl {
            max-width: 1200px;
    }
}

    a.nav-link.active {
        color: #fff;

    }
    a.nav-link {
        color: #666;
        border-left: 1px solid rgba(136, 136, 136, 0.2);
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16px;
        padding: 0 20px !important;
    }

    a#basic-nav-dropdown {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    }

    a.nav-link.active:hover {
        color: #ccc !important;
    }

}