<div class="mt-4">
    
        <form  method="post">
            <div>
                <label class="form-group" for="search-input">Từ khóa</label>
                <input type="text" name="q" class="form-control" id="search-input" placeholder="search" >   
            </div>

            <div>
                <label class="form-group" for="gender">Gender</label>
                <select class="form-control" name="gender" id="gender" >
                    <option value="">-- gender option --</option>
                    <option value="nam">Nam</option>
                    <option value="nu">Nu</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary" style="margin: 20px 0">submit</button>
        </form>
        
    
</div>